pyrogram==1.4.16
TgCrypto
hachoir
Pillow
aiohttp
motor
dnspython
aiofiles
psutil
pyromod
humanfriendly
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pydevd-pycharm==192.7142.79
Werkzeug==0.16.0
